<%= render "layouts/header" %>
<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<main class="">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Câu lạc bộ <%= @club.name %></h3>
		</div>
		<div class="panel-body bkg">
			<div class="row">
				<div class="col-md-9 col-sm-8">
					<div class="panel panel-success">
						<div class="panel-heading">
							<h3 class="panel-title">Danh sách cầu thủ</h3>
						</div>
						<div class="panel-body">
							<div class="table-responsive">
							    <table class="table table-stripeed table-bordered">
									<thead>
										<tr>
											<th style="width: 10%">Áo số</th>
										  	<th style="width: 15%">Ảnh</th>
										  	<th style="width: 20%">Tên</th>
										  	<th style="width: 30%">Vị trí</th>
										  	<th style="width: 15%">Quốc tịch</th>
										  	<th style="width: 10%">Chỉ số</th>
										</tr>
									</thead>
									<tbody>
									<% @club.players.each do |player| %>
										<tr>
									  <td><%= player.number %></td>							
									  <td>
									  	 <%= link_to image_tag(player.photo.url(:small), :class => "img-responsive"), show_modal_path("#{player.id}"),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'} 
									  	 %>    
									  </td>
									  <td>
									  	<%= link_to "#{player.name}", show_modal_path("#{player.id}"),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %>
									  </td>
									  <td><%= player.position %></td>
									  <td><%= player.nation %></td>
									  <td><%= player.level %></td>
										</tr>
									<% end %>
									</tbody>
							    </table>
							  </div>
						</div>
					</div>
				</div>
				<!-- /Player list -->
				<div class="col-md-3 col-sm-4">
					<div class="panel panel-danger">
						<div class="panel-heading">
							<h3 class="panel-title">Biểu tượng</h3>
						</div>
						<div class="panel-body">
							<%= image_tag(@club.photo.url(:small), :class => "img-responsive") %>
						</div>
					</div>
					<!-- /Club logo -->
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Thông tin đội</h3>
						</div>
						<div class="panel-body">
							<div>
								<p><span class="label label-danger">Biệt danh:</span> <%= @club.nick_name %></p>
								<p><span class="label label-success">Thành lập:</span> <%= @club.year %></p>
								<p><span class="label label-primary">Chủ tịch:</span> <%= @club.president %></p>
								<p><span class="label label-info">HLV:</span> <%= @club.coach %></p>
								<p><span class="label label-primary">SVD:</span> <%= @club.stadium %></p>
								<p><span class="label label-warning">Sức chứa:</span> <%= @club.volume %></p>
								<p><span class="label label-default">Địa điểm:</span> <%= @club.location %></p>
							</div>
						</div>
					</div>
					<!-- /Club Info -->
					<div class="panel panel-success club-kit">
						<div class="panel-heading">
							<h3 class="panel-title">Màu áo</h3>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-6">
									<%= image_tag(@club.host.url(:small), :class => "img-responsive") %>
									<p><span class="label label-primary">Sân nhà</span></p>
								</div>
								<div class="col-md-6">
									<%= image_tag(@club.away.url(:small), :class => "img-responsive") %>
									<p><span class="label label-danger">Sân khách</span></p>
								</div>
							</div>
						</div>
					</div>
					<!-- /Kit -->
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">Lịch sử</h3>
						</div>
						<div class="panel-body">
						<% @club.histories.each do |history| %>
							<p><span class="label label-success"><%= history.name%>:</span> <%= history.year %></p>
						<% end %>
						</div>
					</div>
				</div>
				<!-- /club-history -->
			</div>
			<!-- /left panel -->
		</div>
		<div class="panel-footer">
			<%= @site_meta.data_source %>
		</div>
	</div>
</main>
<!-- /main -->
<%= render "layouts/footer" %>