<%= render "layouts/header" %>
<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<main class="">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Kết quả tìm kiếm</h3>
		</div>
		<div class="panel-body bkg">
			<div class="row">
				<div class="col-md-6">
					<div class="panel panel-success">
						<div class="panel-heading">
							<h3 class="panel-title">Cầu thủ tìm thấy</h3>
						</div>
						<div class="panel-body">
							<div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Tên</th>
                                            <th>Áo số</th>
                                            <th>Câu lạc bộ</th>
                                            <th>Vị trí</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <% @players.each do |player| %>
                                        <tr>
                                            <td>
                                            	<%= link_to "<span class='label label-primary'>#{player.name}</span>".html_safe, show_modal_path("#{player.id}"),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %>
                                            </td>
                                            <td><span class="label label-danger"><%= player.number %></span></td>
                                            <td><a href="club/single/<%= player.club.id %>"><span class="label label-success"><%= player.club.name %></span></a></td>
                                            <td><span class="label label-info"><%= player.position %></span></td>
                                        </tr>
                                    <% end %>
                                    </tbody>
                                </table>
                            </div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">Đội bóng tìm thấy</h3>
						</div>
						<div class="panel-body">
							<div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Tên</th>
                                            <th>HLV</th>
                                            <th>Vị trí</th>
                                            <th>SVĐ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <% @clubs.each do |club| %>
                                        <tr>
                                            <td>
                                            	<a href="club/single/<%= club.id %>"><span class="label label-success"><%= club.name %></span></a>
                                            </td>
                                            <td><span class="label label-danger"><%= club.coach %></span></td>
                                            <td><span class="label label-success"><%= club.location %></span></td>
                                            <td><span class="label label-info"><%= club.stadium %></span></td>
                                        </tr>
                                    <% end %>
                                    </tbody>
                                </table>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<%= @site_meta.data_source %>
		</div>
	</div>
</main>
<!-- /main -->
<%= render "layouts/footer" %>