<% 
	if( controller.controller_name == "clubs" && controller.action_name == "single" && not(@site_meta.banner_single.url(:small).empty?) )
		@banner = @site_meta.banner_single.url(:small)
	else
		if( controller.controller_name == "clubs" && controller.action_name == "search" && not(@site_meta.banner_search.url(:small).empty?) )
			@banner = @site_meta.banner_search.url(:small)
		else
			@banner = @site_meta.banner_home.url(:small)
		end
	end
%>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><%= yield(:title) %>La Liga</title>
</head>
<body class="muzik">
	<div class="page-wrapper">
		<header>
			<%= image_tag(@banner, :class => "img-responsive") %>
			<nav class="navbar navbar-default" role="navigation">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/"><span class="label label-success"><i class="fa fa-home"></i> Trang chủ</span></a>	
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<form action="<%= search_path %>" method="get" class="navbar-form navbar-right">
							<div class="input-group">
								<%= text_field_tag :search, params[:search], :class => "form-control" %>
								<span class="input-group-btn">
									<%= submit_tag "Tìm!", :name => nil, :class => "btn btn-default" %>
								</span>
							</div>
						</form>
					    <ul class="nav navbar-nav">
					    	<li>
					    		<a class="navbar-brand" href="/members/index"><span class="label label-success">Thông tin</span></a>
					    	</li>
					        <li>
					        	<a class="navbar-brand" href="/service"><span class="label label-success">Dịch vụ trang</span></a>
					        </li>
					    </ul>
					</div>
					
				</div><!-- /.container-fluid -->
			</nav>
		</header>
		<!-- /header -->